*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100%;
}

.title{
    margin: auto;
    display: block;
    text-align: center;
    width: 15%;
    margin-top: 10%;
    font-size: 4vw;
}

.select{
    margin: auto;
    display: block;
    text-align: center;
    width: 40%;
    font-size: 3vw;
}

.btnPlayer{
    position: absolute;
    margin-top: 4%;
    font-size: 1.5vw;
    text-decoration: none;
    width: 13%;
}

.btnPlayer h1{
    text-align: center;
}

.btnPlayer span:nth-child(1){
    position: absolute;
    width: 100%;
    background-color: black;
    height: 5%;
    top: 0%;
    right: 0%;
}

.btnPlayer span:nth-child(3){
    position: absolute;
    width: 100%;
    background-color: black;
    height: 5%;
    bottom: 0%;
    left: 0%;
}

.btnPlayer1{
    float: left;
    left: 23%;
}

.btnPlayer2{
    float: right;
    right: 23%;
}

.playerWhite{
    position: absolute;
    left: 27%;
    margin-top: 8%;
    font-size: 1.5vw;
    color: blueviolet;
}

.playerBlack{
    position: absolute;
    right: 27%;
    margin-top: 8%;
    font-size: 1.5vw;
    color: blueviolet;
}
